/* website */
@media (min-width: 390px) {
  .editlaout:not(.addsettime-layout) {
    width: 105%;
    margin-left: -3.8rem;
  }
}

/* Media query for screens smaller than or equal to iPhone width */
@media (max-width: 390px) {
  .editlaout {
    width: 100%;
    margin-left: 0;
  }
}